<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mio Sito | About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Simple header</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/address-book" class="nav-link">Address Book</a></li>
            </ul>
        </header>
    </div>

    <main>
        <h1 class="text-center">Chi Siamo</h1>
        <div class="container my-5">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolore in sint, veniam doloremque eos saepe velit consequuntur, esse quos iusto? Facere eum eveniet maxime debitis fuga quod dicta neque!
                Ea quia hic perferendis veniam nobis explicabo ab deserunt, maiores blanditiis iusto sint, reprehenderit vero ad nemo enim eos tenetur sit facilis sequi non recusandae ipsa voluptatum? Doloremque, dignissimos hic!
                Perferendis vel illum, veritatis unde illo aliquid repellendus nobis, officiis nesciunt totam voluptatem culpa autem doloribus rerum eos. Veritatis atque modi culpa similique libero necessitatibus distinctio, rerum sed porro cumque.
                Enim tempore cumque fugit, autem eligendi aliquid optio rerum asperiores quos earum sunt maxime nulla exercitationem nam perspiciatis deleniti esse ducimus, quisquam corporis quo distinctio facilis voluptates! Minus, laborum praesentium!
                Commodi ad numquam labore ipsam aliquam non sequi odio. Repellendus officiis quisquam molestias, dolore sed eum voluptas possimus praesentium voluptatibus impedit at est rerum velit neque. Mollitia sunt commodi earum!</p>
        </div>
    </main>

    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">About us</a></li>
                <li class="nav-item"><a href="/address-book" class="nav-link px-2 text-body-secondary">Address Book</a></li>
            </ul>
            <p class="text-center text-body-secondary">© 2023 Company, Inc</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>